
.master-design{
    text-align: center;
}
.head{
    color: rgb(226, 110, 16);
    text-align: center;
    padding-top: 1rem;
}
.master{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 60vh;
}
.master .button{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgb(121, 103, 113);
    border: none;
    border-radius: 0.45rem;
}
.master .button:hover{
    cursor: pointer;
    background-color: rgb(38, 170, 231);
}