*{
    box-sizing: border-box;
}
.drawer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.container{
    padding-top: 0;
    margin-top: 1.12rem;
    /* height: auto; */
    max-height: 90vh;
    overflow-y: hidden;
}
.below-header{
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
}
.header{
    background-color: rgb(112, 112, 129);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.5rem 2%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p{
    margin: 0;
    padding: 0;
}
.below{
    padding: 1rem 0.5rem;
    display: flex;
    gap:1rem;
    width: 100%;
    /* align-items: flex-start; */
    height: auto;
}
.below .image{
    width:45%;
    padding: 0.5rem 0;
    height: auto;
    align-self: stretch;
    justify-content: center;
    display: flex;
    align-items: center;
}

fieldset{
    border: 1px solid rgb(112, 112, 129);
    border-radius: 0.35rem;
    width: 53%;
    align-self: stretch;
    /* align-self: flex-start; */
    height: auto;
}
legend{
    font-size: 0.85rem;
    font-weight: 500;
    color: rgb(112, 112, 129);
}
.form{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:0.45rem;
    margin-bottom: 1rem;
}
.form .date{
    align-self: flex-end;
    color: black;
    border: 1px solid rgb(112, 112, 129);
    padding: 0.25rem;
    width: 25%;
    border-radius: 0.15rem;
    outline: none;
}

.fields{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
}
.group{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    min-width: 20%;
    max-width: 32%;
    flex: 1;
}
.group label{
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(112, 112, 129);
}
.group select{
    padding: 0.35rem;
    width: 100%;
    border: 1px solid rgb(112, 112, 129);
    outline: none;
    border-radius: 0.2rem;
}
.num-group{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    min-width: 10%;
    max-width: 20%;
    flex: 1;
}
.num-group label{
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(112, 112, 129);
}
.num-group input{
    padding: 0.35rem;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-weight: 600;
    border-radius: 0.2rem;
}
.remarks{
    display: flex;
    gap:2rem;
    align-items: flex-start;
    width:100%;
}
.remarks label{
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(112, 112, 129);
}
.remarks div{
    flex: 1;
}
.remarks div input{
    padding: 0.35rem;
    border: 1px solid rgb(112, 112, 129);
    outline: none;
    width:100%;
    font-weight: 500;
    border-radius: 0.2rem;
}
.button-container{
    align-self: flex-start;
    margin-top: 1.25rem;
}
.button-container button{
    color:white;
    background-color: rgb(64, 154, 238);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
}
.button-container button:hover{
    cursor: pointer;
    background-color: rgb(13, 109, 199);
}

.actions{
    margin-top: 1rem;
    display: flex;
    gap:1rem;
    /* margin-bottom: 1rem; */
}
.actions .button{
    color:white;
    padding: 0 2rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(64, 154, 238);
}

.actions .button:hover{
    cursor: pointer;
    background-color: rgb(11, 111, 204);
}

input:focus, select:focus{
    border-color: rgb(64, 154, 238);
}


.group.invalid select, .num-group.invalid input, .remarks.invalid input{
    background-color: rgb(253, 223, 223);
    border-color: red;
  }
  .group.invalid select:focus, .num-group.invalid input:focus, .remarks.invalid input:focus{
    background-color: rgb(255, 235, 235);
    border-color: rgb(248, 139, 139);
  }

  .err{
    color: red;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
  }


@media screen and (max-width:767px) {
    /* .header{
        top:3.5vh;
    } */
    .below{
        flex-direction: column;
    }
    .below .image{
        order: 0;
        width: 100%;
    }
    fieldset{
        order: 1;
        width:100%;
    }
    /* .fields{
        flex-direction: column;
    } */
    .num-group{
        min-width: 30%;
    }
    .remarks{
        flex-direction: column;
        align-items: flex-start;
        gap:0.5rem;
        width:100%;
    }
    .remarks div{
        width:100%;
    }
    /* .fields button{
        align-self: flex-start;
    } */
    .actions{
        width: 100%;
        flex-wrap: wrap;
    }
    .actions button{
        margin-right: 1rem !important;
    }
    
}