.fluid {
    max-width: 100%;
    height: 100%;
  }
  
  .fluid__image-container {
    flex: 0 0 auto;
    margin: 0 20px;
  }
  
  .fixed__instructions {
    flex: 1;
    margin: 0 20px;
  }

  /* .carousel-img{
    object-fit: cover;
    width:100%;
    height: 60vh;
} */

/* .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:2;
    padding: 0 0.5rem;
} */

.carousel-img{
  object-fit: cover;
  width:100%;
  height: 60vh;
}