.whole{
    padding : 2rem 1rem 1rem;
    padding-right: 2rem;
    width: 100%;
}
.whole h1{
    text-align: center;
    color: brown;
    margin: 0;
    padding: 0;
    margin: 1rem 0 2rem;
}
.whole-tiles-and-charts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 0 1rem; */
}
.whole-tiles{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.whole-charts{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px){
    .whole{
        padding: 0;
        margin: 0;
        width: 100%;
        padding-right: 2.5rem;
    }
    .whole h1{
        margin-top: 2rem;
    }
}

