.reportsMenu {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }
  
.menuBar {
    background-color: #fcf2f3;
    display: 'flex';
    justify-content: center;
  }
  
.menuItem {
    font-size: 90px;
  }
  .whole-charts div{
    flex-direction: column;
  }

  .table-container {
    width: 92%;
    margin: 0 auto;
    /* margin: 0 1rem 0; */
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: white;
  }
  .table thead{
    height: 50px;
  }
  
  .table th, .table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-size: 0.9rem;
    min-width: 100px;
    max-width: 500px;
  }
  .table tbody {
    background-color: white;
  }

  .table img {
    margin-top: 5px;
    width: 4rem;
    height: 3rem;
    object-fit: cover;
    /* border-radius: 50%; */
  }

  .filters{
    flex: 1;
    margin: 0.8rem;
    gap:0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .filters.full{
    gap: 1rem;
  }

  .filters div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:0.2rem;
  }

  .filters div.full{
    flex-direction: column;
  }


  .filters div label{
    margin-right: 0.2rem;
  }

  .filters div Select{
    width: 300px;
    height: 1.6rem;
    margin-right: 1.2rem;
    border-radius: 1%;
  }

  .download-btn{
    padding: 0.25rem 0.75rem;
    border-radius:0.35rem;
    border: none;
    background-color: rgb(107, 127, 139);
    color: white;
    /* margin: 0.75rem 0 0.5rem; */
    margin-left: 5rem;
    align-self: flex-end;
  }

  .download-btn:hover{
    cursor: pointer;
    background-color: rgb(129, 172, 199);
    color: white;
  }

  .download-btn:active{
    opacity: 0.65;
  }

  .filters .button{
    background-color: rgb(8, 117, 219);
    color: white;
    align-self: flex-end;
  }
.filters .button:hover{
  cursor: pointer;
  background-color: rgb(193, 223, 253);
}
.search{
    /* flex: 1; */
    width: 96.5%;
    /* margin: 0.8rem; */
    gap:0.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.search.full{
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 767px){
  .filters{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filters div{
    flex-direction: row;
    width: 45%;
  }
  .filters div.full{
    flex-direction: row;
    width: 100%;
  }

  .filters div label{
    flex: 1;
  }
  .filters div Select{
    flex: 2;
  }
  .filters div .date{
    flex:2;
  }

  /* .filters div.full Select, .filters div.full .date, .filters div.ful label{
    flex:0;
  } */

  .download-btn{
    align-self: flex-end;
    margin: 0;
    margin-left: auto;
  }
  .search{
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .search.full{
    flex-direction: column;
    align-items:center;
  }

}