.reportsMenu {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }
  
.menuBar {
    background-color: #fcf2f3;
    display: 'flex';
    justify-content: center;
  }
  
.menuItem {
    font-size: 18px;
  }

  .table-container {
    width: 95%;
    margin: 0 auto;
    margin: 2rem 1rem 0;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: white;
  }
  .table thead{
    height: 50px;
  }
  
  .table th, .table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-size: 0.9rem;
    min-width: 100px;
    max-width: 500px;
  }
  table tbody {
    background-color: white;
  }

  .table img {
    margin-top: 5px;
    width: 4rem;
    height: 3rem;
    object-fit: cover;
    /* border-radius: 50%; */
  }

  .filters{
    flex: 1;
    margin: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .filters div{
    margin-right: 0.5rem;
  }

  .filters div label{
    margin-right: 0.2rem;
  }

  .filters div Select{
    width: 300px;
    height: 1.6rem;
    margin-right: 1.2rem;
    border-radius: 1%;
  }

  .filters div Button{
    background-color: rgb(8, 117, 219);
    color: white;
  }
.filters div Button:hover{
  cursor: pointer;
  background-color: rgb(53, 91, 128);
}


@media screen and (max-width: 767px){
  .filters{
    flex-direction: column;
  }
  .filters div{
    margin-bottom: 0.3rem;
  }
  
}
