
.details-container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}
.details-container h1{
    color: rgb(226, 101, 43);
    text-align: center;
}

.card-details{
    display: flex;
    flex-direction: column;
    width:80%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    min-height: 60vh;
    align-items: center;
    padding-bottom: 1rem;
}
.above-table{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: stretch;
}
.table{
    width: 95%;
    flex: 1;
}

.carousel{
    width:50%;
    min-height: 60vh;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 1rem;
}

.default-image{
    width:100%;
    z-index: 0;
    height: 70%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.default-image img{
    height: 100%;
    width:100%;
    z-index: 0;
    align-self: stretch;
    object-fit: cover;
}

.left-images-container{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.left-image{
    width:24%;
    height: 5rem;
    object-fit: contain;
}
.left-image:hover{
    cursor: pointer;
}
.left-image.active{
    border: 2px solid rgb(247, 185, 13);
}
.left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    display: flex;
    width:50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:2;
    padding: 1rem 1rem;
    padding-left: 2.5rem;
}
.content .title{
    color: rgb(44, 174, 235);
    margin: 0;
    padding: 0;
}
.cardItem-details{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}
.cardItem-details div{
    padding: 0;
    margin: 0;
    flex:1;
    display: flex;
    flex-direction: column;
    min-width:31%;
    text-align: left;
}

.card-details div span{
    font-weight: bold;
    margin-bottom: 0.35rem;
}
.cardItem-details div p{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size:0.85rem;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;

}
.actions button{
    background-color: rgb(243, 113, 237);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.35rem;
    border:none;
}
.actions button:hover{
    background-color: rgb(223, 9, 187);
    cursor: pointer;
}

.back{
    padding: 0.5rem 2.5rem;
    border-radius: 0.35rem;
    background-color: transparent;
    border: 1px solid rgb(221, 36, 159);
    color: rgb(221, 36, 159);
    font-size: 1rem;
    margin-bottom: 1rem;
}
.back:hover{
    cursor: pointer;
    background-color: rgb(221, 36, 159);
    color: white;
}

@media screen and (max-width:767px) {
    .card-details{
        /* flex-direction: column;
        height: auto;
        gap:1rem; */
        width: 92%;
    }
    .above-table{
        flex-direction: column;
        height: auto;
        gap:1rem;
    }
    .carousel{
        width:100%;
        min-height: 35vh;
        max-height: 50vh;
    }
    .content{
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    .content{
        width: 100%;
    }
    .cardItem-details div{
        width:auto;
        margin: 0 auto;
    }
}

@media screen and (min-height:1000px){
    .card-details{
        height: 30vh;
    }
    .carousel{
        height: 30vh;
    }
}

@media screen and (max-width:767px) and (min-height:1000px) {
    .card-details{
        height: auto;
    }
    .carousel{
        width:100%;
    }
}
